<!doctype html>
<html lang="zh-CN" xml:lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>sparkshop商城</title>
    <meta name="description" content=""/>
    <meta name="keywords" content="">
    <link rel="stylesheet" href="/static/js/layui/css/layui.css">
    <link rel="stylesheet" href="{__CSS__}/bootstrap.min.css">
    <link rel="stylesheet" href="{__CSS__}/meanmenu.min.css">
    <link rel="stylesheet" href="{__CSS__}/style.css">
    <link rel="stylesheet" href="{__CSS__}/iconfont.css">
    <link rel="stylesheet" href="{__STATIC__}/swiper/swiper-bundle.min.css">
    <script src="{__STATIC__}/swiper/swiper-bundle.min.js"> </script>
    <script src="{__JS__}/jquery.min.js"></script>
    <script src="{__JS__}/bootstrap.bundle.min.js"></script>
    <script src="{__JS__}/meanmenu.min.js"></script>
    <style>
        .swiper-button-prev, .swiper-button-next {
            color: #e93323 !important
        }
        .swiper-pagination-bullet {
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            font-size: 12px;
            color: #fff;
            opacity: 1;
            background: rgba(0, 0, 0, 0.2);
        }

        .swiper-pagination-bullet-active {
            color: #fff;
            background: #e93323;
        }
    </style>
</head>
<body>
{include file="public/header_nav"}
<!-- 幻灯片 -->
<section class="hero-slider-area hero-slider-area-style-two">
    <div style="height: 590px;width: 100%;background: #E2E2E2">
        <div class="swiper" style="height: 100%;width: 100%">
            <div class="swiper-wrapper">
                {foreach name="flash" item="vo"}
                <div class="swiper-slide" style="background: url({$vo['pic_url']}) no-repeat;background-size:100% 100%;"></div>
                {/foreach}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>
<!-- 幻灯片 -->
<!-- 精品推荐 -->
<section class="best-seller-area pb-30" style="background: #f9f9f9;padding-top: 30px">
    <div class="container">
        <div class="section-title">
            <h2>精品推荐</h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="featured-product-wrap">
                    <div class="featured-product-slider owl-carousel owl-theme owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage">
                                {foreach name="recommend" item="vo" key="key"}
                                <div class="owl-item active" style="width: 306px;{if $key > 0}margin-left: 9px{/if}">
                                    <div class="single-products">
                                        <div class="product-img" style="height: 200px">
                                            <a href="/index/goods/{$vo['id']}">
                                                <img src="{$vo['pic']}" alt="{$vo['name']}">
                                            </a>
                                            <span class="hot">推荐</span>
                                        </div>
                                        <div class="product-content" style="background: #fff">
                                            <a href="/index/goods/{$vo['id']}" class="title">{$vo['name']}</a>
                                            <ul class="products-rating">
                                                <li>
                                                    <a href="/index/goods/{$vo['id']}">(销量：{$vo['sales']})</a>
                                                </li>
                                            </ul>
                                            <ul class="products-price">
                                                <li>￥{$vo['price']}
                                                    <del>￥{$vo['original_price']}</del>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                {/foreach}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 精品推荐 -->
<!-- 限时秒杀 -->
<section class="flash-deals-area ptb-54" style="background: #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>限时秒杀</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="seckill-data" style="height: 382px">
                            <div class="timeCurrent">
                                <div style="font-size: 24px">20:00 点场</div>
                            </div>
                            <div class="lines"></div>
                            <div class="tip">距离结束还剩</div>
                            <div class="time">
                                <div class="styleAll">02</div>
                                <div class="timeTxt"> :</div>
                                <div class="styleAll">02</div>
                                <div class="timeTxt"> :</div>
                                <div class="styleAll">02</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">

                        <div class="owl-item active" style="width: 306px;">
                            <div class="single-products">
                                <div class="product-img" style="height: 200px;">
                                    <a href="product-details.html">
                                        <img src="/default/static/picture/product-6.jpg" alt="Image">
                                    </a>
                                </div>
                                <div class="product-content" style="background: #fff">
                                    <a href="product-details.html" class="title">德力西无刷锂电角磨机充电式抛光机德力西无刷锂电角磨机充电式抛光机德力西无刷锂电角磨机充电式抛光机德力西无刷锂电角磨机充电式抛光机德力西无刷锂电角磨机充电式抛光机德力西无刷锂电角磨机充电式抛光机</a>
                                    <ul class="products-rating">
                                        <li>
                                            限量 100件
                                        </li>
                                    </ul>
                                    <ul class="products-price">
                                        <li>$119.00
                                            <del>$219.00</del>
                                        </li>
                                    </ul>
                                    <div class="row">
                                        <div class="col-lg-9"  style="padding-top: 8px;">
                                            <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                                                <div class="layui-progress-bar layui-bg-red" lay-percent="50%"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <a href="" class="layui-btn layui-btn-danger layui-btn-sm">抢购</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 限时秒杀 -->
<!-- 分类商品展示 -->
<section class="featured-products-area pb-30" style="background: #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>数码办公</h2>
                </div>
                <div class="featured-product-wrap">
                    <div class="featured-product-slider owl-carousel owl-theme owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="overflow: hidden;">
                                {foreach name="pcList" item="vo" key="key"}
                                <div class="owl-item active" style="width: 306px;margin-top: 10px;{if $key != 0 && $key != 4}margin-left: 9px{/if}">
                                    <div class="single-products">
                                        <div class="product-img" style="height: 200px">
                                            <a href="/index/goods/{$vo['id']}">
                                                <img src="{$vo['pic']}" alt="{$vo['name']}">
                                            </a>
                                        </div>
                                        <div class="product-content" style="background: #fff">
                                            <a href="/index/goods/{$vo['id']}" class="title">{$vo['name']}</a>
                                            <ul class="products-rating">
                                                <li>
                                                    <a href="/index/goods/{$vo['id']}">({$vo['collects']}个收藏)</a>
                                                </li>
                                            </ul>
                                            <ul class="products-price">
                                                <li>￥{$vo['price']}
                                                    <del>￥{$vo['original_price']}</del>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                {/foreach}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- 分类商品展示 -->
<!-- 底部 -->
{include file="public/footer"}

<div class="go-top">
    <i class="iconfont icon-yooxi"></i>
    <i class="iconfont icon-yooxi"></i>
</div>
<script src="{__JS__}/custom.js"></script>
<script src="/static/js/layui/layui.js"></script>
<script>
    layui.use('element', function(){
        var element = layui.element;
    });
</script>
<script>
    var mySwiper = new Swiper('.swiper', {
        loop: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
            renderBullet: function (index, className) {
                return '<span class="' + className + '">' + (index + 1) + "</span>";
            },
        },
        speed: 2000,
        autoplay: {
            delay: 10000
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    })

    $(function () {

        $('ul .cate-one').hover(function () {
            $(this).addClass('cate-active')
        }, function () {
            $(this).removeClass('cate-active')
        });
    })
</script>
</body>
</html>