<el-form :model="form" :rules="rules" ref="ruleForm" label-width="80px">
  <el-form-item label="角色名称" prop="name">
    <el-input v-model="form.name"></el-input>
  </el-form-item>
  <el-form-item label="权限">
    <el-tree
            :data="treeData"
            ref="tree"
            show-checkbox
            :default-checked-keys="resourceCheckedKey"
            node-key="id"
            :props="defaultProps">
    </el-tree>
  </el-form-item>
  <el-form-item label="状态" prop="status">
    <el-radio v-model="form.status" :label="1">正常</el-radio>
    <el-radio v-model="form.status" :label="2">禁用</el-radio>
  </el-form-item>
</el-form>
<div slot="footer" class="dialog-footer">
  <el-button @click="dialogVisible = false" size="small">取 消</el-button>
  <el-button type="primary" @click="optSubmit('ruleForm')" size="small" :loading="loading">确 定</el-button>
</div>