<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网站轮播</title>
    <link rel="stylesheet" href="{__CSS__}/element_ui.css"/>
    <link rel="stylesheet" href="{__CSS__}/style.css"/>
    <script src="{__JS__}/vue2.js"></script>
    <script src="{__JS__}/element_ui.js"></script>
    <script src="{__JS__}/axios.min.js"></script>
    <script src="{__JS__}/request.js"></script>
</head>
<body>
<!-- 组件导入 -->
{include file="/components/fileSelect"}
{include file="components/goodsSingleSelect"}
<div id="app">
    <div class="app-loading" v-if="pageLoading">
        <div class="app-loading__logo">
            <img src="{__IMG__}/logo.png"/>
        </div>
        <div class="app-loading__loader"></div>
        <div class="app-loading__title">{$title}</div>
    </div>
    <el-card class="box-card" v-else>
        <div slot="header" class="clearfix">
            <span>网站轮播</span>
        </div>
        <el-button type="primary" icon="el-icon-plus" size="small" @click="addSlider" style="margin-top: 10px">添加轮播</el-button>
        <div style="width:100%;height:0;border-bottom:#E4E7ED 1px dashed;margin-top: 10px"></div>
        <el-table
                :data="tableData"
                style="width: 100%;">
            <el-table-column
                    prop="id"
                    label="ID"
                    width="75px">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="轮播描述">
            </el-table-column>
            <el-table-column
                    label="轮播图">
                <template slot-scope="scope">
                    <img :src="scope.row.pic_url" width="100px" height="60px">
                </template>
            </el-table-column>
            <el-table-column
                    prop="target_url"
                    label="链接地址"
                    width="300px">
            </el-table-column>
            <el-table-column
                    prop="sort"
                    label="排序值">
            </el-table-column>
            <el-table-column
                    prop="create_time"
                    label="创建时间">
            </el-table-column>
            <el-table-column
                    prop="operation"
                    label="操作">
                <template slot-scope="scope">
                    <el-button @click="handleEdit(scope.row)" type="text" size="small">编辑</el-button>
                    <el-button @click="handleDel(scope.row)" type="text" size="small">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                style="margin-top: 10px"
                background
                layout="->, prev, pager, next"
                :page-size="searchForm.limit"
                @current-change="handlePageChange"
                :total="total">
        </el-pagination>

        <el-dialog :title="title" :visible.sync="dialogVisible" width="600px" destroy-on-close>
            {include file="/slider/save"}
        </el-dialog>
    </el-card>

    <el-dialog title="" :visible.sync="fileSelectVisible" width="1200px" class="image-check-dialog" :close-on-click-modal="false">
        <file-select :need-select="true" @selected-img="selectedImg" @close-dialog="fileSelectVisible=false" :select-num="1"></file-select>
    </el-dialog>

    <el-dialog
            class="goods-select"
            title=""
            :visible.sync="goodsDialogVisible"
            width="70%">
        <goods-select @selected-goods="handleSelectedGoods" @close-dialog="goodsDialogVisible=false"></goods-select>
    </el-dialog>
</div>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                pageLoading: true,
                searchForm: {
                    name: '',
                    limit: 15,
                    page: 1
                },
                goodsDialogVisible: false,
                fileSelectVisible: false,
                dialogVisible: false,
                title: '新增轮播',
                total: 1,
                tableData: [],
                baseIndex: '/{:config("shop.backend_index")}/',
                form: {
                    id: 0,
                    name: '',
                    target_url: '',
                    pic_url: '',
                    type: '1',
                    sort: 0
                },
                rules: {
                    name: [
                        {required: true, message: '请输入轮播描述', trigger: 'blur'}
                    ],
                    target_url: [
                        {required: true, message: '请输入链接地址', trigger: 'blur'}
                    ],
                    pic_url: [
                        {required: true, message: '请输入图片地址', trigger: 'blur'}
                    ]
                },
                loading: false
            }
        },
        mounted() {
            this.getList()
            this.pageLoading = false
        },
        methods: {
            // 获取列表
            async getList() {
                let res = await request.get(this.baseIndex + 'slider/index', this.searchForm)
                this.tableData = res.data.data
                this.total = res.data.total
            },
            // 初始化表单
            initForm() {
                this.form = {
                    id: 0,
                    name: '',
                    target_url: '',
                    pic_url: '',
                    type: '1',
                    sort: 0
                }
            },
            // 搜索
            onSubmit() {
                this.getList()
            },
            addSlider() {
                this.title = '添加轮播'
                this.initForm()
                this.dialogVisible = true
            },
            // 编辑参数
            handleEdit(item) {
                this.title = '编辑轮播'
                this.dialogVisible = true

                this.form.id = item.id
                this.form.name = item.name
                this.form.type = String(item.type)
                this.form.target_url = item.target_url
                this.form.pic_url = item.pic_url
                this.form.sort = item.sort
            },
            // 删除参数
            handleDel(item) {
                this.$confirm('此操作将永久删除该轮播 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(async () => {
                    let res = await request.get(this.baseIndex + 'slider/del', {id: item.id})
                    if (res.code == 0) {
                        this.$message.success(res.msg)
                        this.getList()
                    } else {
                        this.$message.error(res.msg)
                    }
                }).catch(() => {
                });
            },
            // 选资源
            showImage() {
                this.fileSelectVisible = true
            },
            selectedImg(file) {
                this.form.pic_url = file[0].url
                this.fileSelectVisible = false
            },
            // 移除图片
            removeImg() {
                this.form.pic_url = ''
            },
            // 分页
            handlePageChange(page) {
                this.searchForm.page = page
                this.getList()
            },
            // 新增或编辑
            optSubmit(formName) {
                this.$refs[formName].validate(async (valid) => {
                    if (valid) {
                        this.loading = true
                        let res;
                        if (this.form.id) {
                            res = await request.post(this.baseIndex + 'slider/edit', this.form)
                        } else {
                            res = await request.post(this.baseIndex + 'slider/add', this.form)
                        }
                        this.loading = false
                        if (res.code == 0) {
                            this.dialogVisible = false
                            this.$message.success(res.msg)
                            this.getList()
                        } else {
                            this.$message.error(res.msg)
                        }
                    }
                });
            },
            // 选择商品
            selectGoods() {
                this.goodsDialogVisible = true
            },
            // 选中了商品
            handleSelectedGoods(row) {
                this.goodsDialogVisible = false
                this.form.target_url = '/pages/product/product?id=' + row[0].id + '&order_type=1'
            },
        }
    });
</script>
<style>
    p {
        padding: 0;
        margin: 0;
    }

    .el-table__header tr,
    .el-table__header th {
        padding: 0;
        height: 20px;
        line-height: 20px;
    }

    .del-btn {
        cursor: pointer;
        color: #F56C6C
    }

    .add-btn {
        cursor: pointer;
        margin-top: 18px;
        color: #409EFF
    }
    .img-list {
        height: 60px;
        padding-left: 0;
        margin-top: 0;
    }
    .img-list li:first-child {
        margin-left: 0;
    }
    .img-list li {
        width: 58px;
        height: 58px;
        float: left;
        margin-left: 5px;
        cursor: pointer;
        position: relative;
    }
    .addImg {
        height: 56px;
        width: 56px;
        line-height: 56px;
        text-align: center;
        border: 1px dashed rgb(221, 221, 221);
    }
    ul li {list-style: none}
    .image-check-dialog .el-dialog__header {display: none}
    .image-check-dialog .el-dialog__body {padding: 0;}
    .img-list .img-tools {
        position: absolute;
        width: 58px;
        height: 15px;
        line-height: 15px;
        text-align: center;
        top: 43px;
        background: rgba(0, 0, 0, 0.6);
        cursor: pointer;
    }
</style>
</body>
</html>